<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="accountableDB"
         connectionString="Server=localhost;Database=accountableDB;Uid=root;Pwd=1234;CharSet=utf8mb4;Connect Timeout=30;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
